# binaries
*.pyc

# ide shit
.idea/

# deploy specific shit
zero/settings.py
zero/settings_deployment.py

# south migrations
migrations/

# scss config
config.rb
css/

# admin collected files
relief/static/admin/
!relief/static/admin/img/icon_addlink.gif
!relief/static/admin/img/icon_deletelink.gif

# templated files
relief/templates/admin/base_site.html
relief/templates/seo/robots.txt
relief/templates/seo/sitemap.xml

