{% extends 'base.html' %}

{% block title %}Musculation{% endblock %}

{% block posthead %}
  <style>
    video {
      position: fixed;
      display: block;

      width: 100%;
      height: 100%;
      background: black;
      z-index: 0;
    }

    iframe {
      display: block;
      width: 100%;
      height: 100%;
      background: black;
      z-index: 0;
    }

    a.skip {
      position: fixed;
      bottom: 15px;
      right: 15px;
      width: 45px;
      z-index: 9;
    }

    a.skip img {
      width: 100%;
    }
  </style>


{% endblock %}

{% block script %}
  <script>
    var muscle = document.getElementById("muscle");

    window.onload = function() {
      if (typeof (muscle.play) !== 'function') {
        $('video').remove();
        $('body').append('<iframe src="//player.vimeo.com/video/94067598?autoplay=1&badge=0&title=0&byline=0&color=222222&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
        $('a.skip').css('bottom', '50px');
        return;
      }

      muscle.play();
    };

    muscle.onended = function(e) {
      $('#muscle').unbind('click');
      window.location.href = "/0001";
    };

    $('#muscle').click(function() {
      if (this.paused)
        this.play();
      else
        this.pause();
    });


  </script>
{% endblock %}

{% block body %}
  <video id="muscle" width="960">
    <source src="{{ STATIC_URL }}other/muscle.hd.mp4" type="video/mp4">
    <source src="{{ STATIC_URL }}other/muscle.hd.ogg" type="video/ogg">
  </video>
  <a href="/0001" class="skip">
    <img src="{{ STATIC_URL }}img/skip.png" />
  </a>
{% endblock %}