{% extends 'base.html' %}
{% block title %}{% if title %}{{ title }}{% else %}{{ relief_title }}{% endif %}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block robots %}<meta name="robots" content="{% if deny_robots %}noindex,nofollow{% else %}index,follow{% endif %}">{% endblock %}

{% block posthead %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/relief.css" />
  {% if styles %}<style>
  {% for s in styles %}
    .init_{{ s.name }} { {{ s.cssString }} }
    .hover_{{ s.name }}:hover { {{ s.cssString }} }
  {% endfor %}
  </style>{% endif %}
{% endblock %}

{% block bodyclass %}waitjs{% endblock %}
{% block bodytag %}style="background: {{ background }};"{% endblock %}

{% block body %}
  {% include "snippets/noscript.html" %}
  <section id="page">
    <div id="cont">
      <img id="img" src="{{ img }}" />
     {% for lnk in links.all %}
      <div class="lnk init_{{ lnk.initStyle.name }} hover_{{ lnk.hoverStyle.name }}"
           style="
              left: {{ lnk.x|stringformat:"f" }}%;
              top: {{ lnk.y|stringformat:"f" }}%;
              width : {{ lnk.width|stringformat:"f" }}%;
              height : {{ lnk.height|stringformat:"f" }}%;
              {% if lnk.transition > 0 %}{% include "snippets/transition.html" with duration=lnk.transition %}{% endif %}
              ">
        <a {% if lnk.newtab %}target="_blank"{% endif %} href="{% if lnk.target %}{% if lnk.target.url %}{{ lnk.target.url }}{% else %}/{% endif %}{% elif lnk.remote %}{{ lnk.remote }}{% else %}#{% endif %}"></a>
      </div>
     {% endfor %}
    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    var zoom_width = {{ w_zoom|stringformat:"f" }},
     zoom_height = {{ h_zoom|stringformat:"f" }},
     smooth_loading = {% if smooth_loading %}true{% else %}false{% endif %},
     img_width = {{ img_width }},
     img_height = {{ img_height }};
  </script>
  <script src="{{ STATIC_URL }}js/relief.js"></script>
{% endblock %}
