{% extends "admin:admin/base.html" %}

{% block extrahead %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}kontrol/css/base.css" />
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/default.png" type="image/x-icon"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block content_title %}{% endblock %}

{% block footer %}{{ block.super }}
  <script src="{{ STATIC_URL }}js/lib/jquery.1.10.2.min.js"></script>
  <script src="{{ STATIC_URL }}js/lib/jquery-ui.1.10.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/lib/spectrum/spectrum.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}js/lib/spectrum/spectrum.css" />
  <script src="{{ STATIC_URL }}js/lib/common.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}kontrol/js/base.js"></script>
{% endblock %}
