$linkcolour: #222222;

* {
  margin: 0;
  padding: 0;
  border: none;
  color: $linkcolour;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
}

.lighter {
  color: lighten($linkcolour, 40%);
}

.ie a {
  background: url('about:blank');
}
