@import "compass/css3/transition";

body {
  // not so smooth sometimes..
  @include transition(opacity, .2s);
  &.waitjs {
    opacity: 0;
  }
}

section#page {
  opacity: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  div#cont {
    margin: auto;
    position: relative;
    height: 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }

    div.lnk {
      position: absolute;
      a {
        width: 100%;
        height: 100%;
        position:absolute;
      }
    }
  }
}
